CSH08/Kartei.dtd

<!--DTD zum XML-Dokument “kartei.xml“-->
<!ELEMENT kartei (karte+)>
<!ELEMENT karte (stichwort,abstract,autor)>
<!ELEMENT abstract (name)>
<!ELEMENT stichwort (#PCDATA)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT autor (#PCDATA)>
<!ATTLIST karte sachgebiet CDATA #REQUIRED>
<!ENTITY autor "Michael Siebert">
